---
import Layout from '@/layouts/Layout.astro';
import Bar from '@/components/Bar.astro';
import { ArrowLeft } from 'lucide-react';
import {Accounts} from '@/components/mail/Accounts';
const { userId } = Astro.locals.auth();
const accounts: {id: number; email_address: string; alias: string; created_at: string;}[] = [];
if(Astro.locals.runtime) {
    const { env } = Astro.locals.runtime;
    const stmt = env.MAIL_DB.prepare("SELECT id,email_address,alias,created_at FROM user_email_addresses WHERE user_id = ?").bind(userId);
    const returnValue = await stmt.run().catch((e) => {
        console.error(e);
        return { results: [] };
    });
    if (returnValue.results.length) {
        for(const row of returnValue.results) {
            accounts.push({
                id: row.id as number,
                email_address: row.email_address as string,
                alias: row.alias as string,
                created_at: row.created_at as string
            });
        }
    }
}
---

<Layout>
    <Bar />
    <div class="container mx-auto">
        <div class="p-4">
            <a
                href="/dashboard"
                title="Dashboard"
                class="inline-flex gap-1 mb-2 items-center border dark:border-gray-500 py-1.5 px-3 rounded-md text-xs bg-gray-700 dark:bg-gray-950 text-white hover:bg-gray-800 dark:hover:bg-gray-700"
            ><ArrowLeft size={16} />Back to Inbox</a>
            <h1 class="text-2xl font-bold">Settings</h1>
            <p class="text-sm text-gray-500">Manage your email addresses and notes.</p>
        </div>
        <div class="p-4">
            <Accounts client:load list={accounts} />
        </div>
    </div>
</Layout>